body{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 100px;
}
.center{
    border: 5px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    padding: 10px;
}
img{
    width: 50%;
    display: block;
    margin: 0px auto;
    text-align: center;
}
input[type="text"]{
    width: 50%;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: transparent;
    margin: 18px 0px;
    padding: 14px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid grey;
    outline: none;

}

.buton-container{
 gap: 15px;
background-color: gray;
color: black;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer

}